body {
    background: #29292F;
}

.left-container {
    background-color: #30343e;
    padding: 5px;
    border-radius: 3px;
}

.left-text {
    background-color: rgba(255, 255, 255, 0.16) !important;
}
.highcharts-container  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.right-bottom-boder {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* 定义灰蓝色 */
.grey-blue-theme {
    background-color: #30343e;
    color: white;
}